/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
    border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
    text-decoration: none;
}


body {
    font-family: "Montserrat";
    width: 100%;
    height: 100vh;
    background-image: url(/night-themes/random/6.webp);
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
    overflow: hidden;
    z-index: 199;
    
    & video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
        background-color: rgba(248, 248, 248, 0);
        filter: grayscale(0.4);
        /* transition: 2s; */
    }

    #background-image {
        width: 100%;
        min-height: 100%;
        position: absolute;
        object-fit: cover;
        z-index: -1;
        height: auto;
    }
}

.container {
    padding: 6%;
    margin: auto;
    display: grid;
    grid-template-columns: 4fr 3.8fr;
    grid-template-rows: 0.3fr 2.5fr 4fr;
    grid-template-areas: 
        "a b"
        "e c"
        "d c";
    gap: 10px;
    background-color: rgba(245, 235, 235, 0.16);
    height: 100vh;
}



.search {
    display: grid;
    grid-template-columns: 50%;
    /* align-items: start; */
    justify-content: right;
    grid-area: b;
    position: relative;
    width: 100%;

    & input[type=text] {
        width: 100%;
        height: min-content;
        padding: 7px 25px 7px 10px;
        color: rgba(255, 255, 255, 0.657);
        font-size: 13px;
        border-width: 0 0 1.5px 0;
        border-color: rgba(255, 255, 255, 0.666);
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        background-color: rgba(0, 0, 0, 0.076);
        outline: none;
        caret-color: rgba(255, 255, 255, 0.685);
        backdrop-filter: blur(20px);
    }

    & button {
        position: absolute;
        top: 7px;
        right: 7px;
        background-color: rgba(245, 222, 179, 0);
        border: none;
        /* display: none; */
        cursor: pointer;
    }
}
::placeholder {
    color: rgba(255, 255, 255, 0.366);
}


.forecast-now {
    padding: 3% 3% 5% 5%;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr 1fr ;
    grid-template-areas: 
        "top top"
        "left right";
    color: white;
    text-align: left;
    grid-area: c;

    .left {
        /* align-self: self-end; */
        display: flex;
        flex-direction: column;
        justify-content: end;
        grid-area: right;
        gap: 10px;
        
        .wilayah {
            display: flex;
            justify-content: right;
            font-size: 38px;
            font-weight: 600;
            text-align: right;
        }
        .time {
            text-align: right;
            font-size: 28px;
            font-weight: 400;
            letter-spacing: 3px;
        }
        .date {
            text-align: right;
            font-size: 15px;
            font-weight: 400;
        }
    }
    
    .weather-info {
        grid-area: top;
        display: flex;
        align-items: center;
        gap: 20px;

        .suhu {
            display: flex;
            grid-area: left;
            justify-content: left;
            font-weight: 500;

            .angka {
                font-size: 60px;
            }

            .degree {
                transform: translate(3px, 8px);
                font-size: 20px;
            }
        }
    
        .cuaca {
            grid-area: right;
            display: flex;
            align-items: center;
            gap: 10px;
            /* flex-direction: column; */

            & img {
                /* margin-top: -20px; */
                margin-left: 0px;
                width: 75px;
                filter: brightness(97%) saturate(5);
            }

            & p {
                /* padding-left: 7px; */
                font-weight: 500;
                font-size: 18px;
                text-align: left;
            }
        }  
    }

    .detail-info {
        display: flex;
        flex-direction: column;
        justify-content: left;
        gap: 20px;

        .humidity {
            display: flex;
            gap: 20px;
            height: auto;

        }
        
        .wind {
            display: flex;
            gap: 20px;
        }
        
        .pressure {
            display: flex;
            gap: 20px;
        }
        .name {
            font-size: 13px;
            margin-bottom: 5px;
        }

        .value {
            font-size: 20px;
        }
        
        .detail-info-icon {
            height: 38px;
            
        }
    }
    /* } */
}



.forecast-hourly {
    /* display: none; */
    grid-area: d;
    position: relative;
    display: grid;
    place-items: center;
    /* overflow: scroll; */
        
    .label {
        position: absolute;
        top: 0;
        left: 0;
        padding: 3% 0 0 3%;
        font-size: 12px;
        color: rgba(192, 192, 192, 0.549)

    }
}



.forecast-daily {
    grid-area: e;
    /* place-items: center; */
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.5fr;
    grid-template-areas:
        "a a"
        "b b"
        "c c";

    .label {
        padding: 3% 0 0 3%;
        grid-area: a;
        font-size: 12px;
        color: rgba(192, 192, 192, 0.549)
    } 
    
    .forecast-desc {
        grid-area: c;
        margin: 0 4% 3% 4%;
        text-align: left;
        font-size: 10px;
        /* overflow: hidden; */
        color: white;
        display: flex;
        gap: 10px;
       
        .desc-label {
            color: rgb(218, 218, 218);     
            border-color: rgba(0, 234, 242, 0.407);
        }
        
        
    }
    
    .daycard-box {
        transition: all 2.2s ease-in-out;
        padding: 3% 3.5%;
        grid-area: b;
        max-width: 100%;
        display: flex;
        height: auto;
        font-size: 14px;
        gap: 8px;

        .daycard {
            /* background-color: rgba(18, 18, 18, 0.054); */
            /* backdrop-filter: blur(20px); */
            border-radius: 12px;
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-items: center;
            padding: 10px;
            gap: 10px;
            z-index: 999999;
            transition: all .2s ease-in-out; 


            .tanggal {
                font-size: 12px;
                color: white;
                text-align: center;
                flex: 1;
            }

            .icon {
                flex: 4;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: wrap;
                
                & img {
                    width: 90%;
                    filter: brightness(97%) saturate(5);
                }

            }
            
            .daytemp {
                flex: 1;
                display: flex;
                font-size: 12px;
                color: white;
                justify-content: center;
                gap: 5px;

                
            }
            
        }   
        .hover {
            
            box-shadow: 0 0 4px 2px rgba(34, 34, 34, 0.415);
            background-color: rgba(96, 96, 96, 0.291);
            transform: scale(1.13);

            /* transition: 0.2s; */
        }
        .clicked {
            background-color: rgba(30, 30, 30, 0.318);
            /* border: 0.5px solid rgba(255, 255, 255, 0.142); */
            /* &:hover {
                box-shadow: 0 0 5px 2px rgba(42, 42, 42, 0.255);
                transition: 0.2s; 
            } 
            */
        }
    }
}

@keyframes RightToLeft {
    from {
        transform: translateX(600px);
    }

    to {
        transform: translateX(-400px);
    }
}


.box {
    /* background-color: rgba(58, 58, 58, 0.061); */
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid rgba(199, 199, 199, 0.122);
    box-shadow: 0 0 8.5px 2px rgba(0, 0, 0, 0.19);
    backdrop-filter: blur(15px) brightness(92%);
}

.box2 {
    /* background-color: rgba(117, 117, 117, 0.115); */
    width: 100%;
    height: 100%;
    border-radius: 3px;
    border: 1px solid rgba(228, 228, 228, 0.121);
    box-shadow: 0 0 3px 1px rgba(42, 42, 42, 0.348);
    /* backdrop-filter: blur(7px); */
}



.chart-container {
    /* min-height: 200px;
    width: 500px; */
    position: absolute;
    top: 42px; 
    bottom: 20px;
    width: 90%;
    margin: 5px 0;
    /* flex-direction: column; */
    /* justify-items: left;  */
    /* position: relative; */
    /* overflow: hidden; */
    
    
    .selecthour-container {
        width: 3238px;
        min-height: 184px;
        display: flex;
        position: absolute;
        top: -12px;
        left: -70px;
        padding: 10%;
        /* gap: 1px; */
    
        .selecthour {
            /* display: none; */
            flex: 1;
            background-color: rgba(0, 0, 255, 0);

            &:hover {
                background-color: #ff008c53
            }
        }
    }
}


#myChart {
    position: absolute;
    z-index: 999999;
    height: 30vh;    
}

#myChart .y-axis text {
        color: #ffff00 !important;
}


@media screen and (max-width: 480px) {
    html, body {
        height: 100dvh;
    }
    .container {
        padding: 7% 3% 3% 3%;
        grid-template-columns: none;
        grid-template-rows: 2fr 7fr 3fr 5fr;
        grid-template-areas: 
            'a'
            'b'
            'c'
            'd';

    }

    .search {
        grid-area: a;
    }

    .forecast-now {
        grid-area: b;
        grid-template-rows: auto 1fr ;
        gap: 20px;
        padding-top: 10%;

        .weather-info {
            height: fit-content;

            .humidity {gap: 10px;}
            .wind {gap: 10px;}
            .pressure {gap: 10px;}

            .suhu {
                .angka {
                    font-size: 40px;
                }
                .degree {
                    font-size: 12px;
                }            
            }

            .cuaca {
                #icon-cuaca {
                    width: 60px;
                }

                p {
                    font-size: 16px;
                }
            }
        }

        .detail-info {
            gap: 10px;
            justify-content: end;
            
            .detail-info-icon {
                height: 24px;
            }

            .name {
                font-size: 10px;
            }

            .value {
                font-size: 14px;
            }
        }

        .left {
            .wilayah {
                font-size: 28px;
            }
        }
    }

    .forecast-daily {
        grid-area: c;

        .forecast-desc {font-size: 9px;}

        .daycard-box {
            gap: 5px;
            
            .daycard {
                padding: 8px;
    
                .icon img {
                    width: 70%;
                }
    
                .tanggal { font-size: 8px; }
                .daytemp { font-size: 8px; }
            }
        }
    }

    .forecast-hourly {
        grid-area: d;

    }

    .label p {font-size: 10px;}
}